* {
    box-sizing: border-box;
}

body {
    background-color: #d9d8d7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #14213d;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

button {
    background-color: #F0E4A1;
    color: #14213d;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    border: none;
    font-size: 1em;
    padding: 15.15px;
    transition: transform 80ms ease-in;
    outline: none;
    display: inline-block;
    position: relative;
    cursor:pointer;
}

button:active {
    transform: scale(0.95);
}

button:after {
    content: '';
    position: absolute;
    left: 0;
    display: inline-block;
    height: 1em;
    width: 100%;
    border-bottom: 1px solid;
    margin-top: 10px;
    opacity: 0;
    -webkit-transition: opacity 0.35s,
    -webkit-transform 0.35s;
    transition: opacity 0.35s,
    transform 0.35s;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
}

button:hover:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.box {
    background-color: #F0E4A1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Open Sans Condensed', sans-serif;
    width: 379px;
    height: 565px;
    letter-spacing: 0.1em;  
}

img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), url("/img/stil-xhb7s-Q-ECA-unsplash.jpg");
    background-size: cover;
    width: 379px;
    height: 565px;
    border-right: 1px solid #14213d;
}

hr {
    border-top: 0.1px solid #14213d;
    width: 100%;
}

h1.home {
    font-family: 'Dancing Script', cursive;
    font-size: 3em;
    padding-top: 30%;
    color: #14213d;
}

h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 2.5em;
    color: #14213d;
    margin: 2%;
}

h2, h3, p, ul {
    color: #14213d;
}

li {
    padding: 0 5%;
    font-size: 0.9em;
}

ul.soft {
    margin: 1% 5%;
}

span {
    font-weight: bold;
}

p {
    text-align: justify;
    text-align-last: center;
    padding: 0 5%;
    font-size: 0.9em;
}

.thanks {
    text-align: center;
}

.thanks h1 {
    margin-bottom: 5%;
    padding: 5%;
    font-size: 1.8em;
}

.thanks h2 {
    margin: 10%;
    font-family: 'Dancing Script', cursive;
}

@media only screen and (max-width: 768px) {
    .box, img {
        width: 281px;
        height: 562px;
    }

    h1.home {
        padding-top: 40%;
    }

    button {
        padding: 11.2px;
    }
}

@media only screen and (max-width: 600px) {
    .box, img {
        width: 225px;
        height: 463px;
    }

    button {
        font-size: 0.8em;
        padding: 9px;
    }

    h1.home {
        font-size: 2em;
        padding-top: 50%;
    }

    h1 {
        font-size: 1.5em;
    }

    h2,
    h3 {
        font-size: 1em;
    }

    li,
    p {
        font-size: 0.75em;
        margin: 0;
    }

    .thanks h1 {
        font-size: 1.5em;
    }
}

@media only screen and (max-width: 480px) {
    .container {
        display: flex;
        flex-direction: column
    }

    .box, img {
        width: 302px;
    }

    .box {
        height: 455px;
    }

    img {
        height: 226px;
        border-right: none;
        border-bottom: 1px solid #14213d;
    }

    h1.home {
        padding-top: 40%;
    }

    button {
        padding: 12px;
    }

    li,
    p {
        font-size: 0.8em;
        margin: 0;
    }
}